li.accountMenuIcon {
  display: flex;
  align-items: center;
}

li.accountMenuIcon > img {
  width: auto;
  height: 25px;
}

li.accountMenuIcon > img:hover {
  background-color: var(--secondaryTheme);
  border-radius: 50px;
  transition: background-color 1s;
}

li.accountMenuIcon > img.clicked {
  background-color: var(--tertiaryTheme);
  border-radius: 50px;
}
