div.account > button {
  border: 0;
  background-color: white;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  font-size: 1rem;
}

div.account > button:hover {
  background-color: var(--secondaryTheme);
}
