div.logo {
  display: flex;
  align-items: center;
}

div.logo > img {
  height: 100px;
  width: auto;
}

div.logo > h1 {
  margin: 0;
  font-size: 3rem;
  font-family: 'lobsterTwo', sans-serif;
}

@media (max-width: 700px) {
  div.logo > img {
    height: 75px;
    width: auto;
  }

  div.logo > h1 {
    font-size: 2rem;
  }
}
