ul.accountMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 90px;
  top: 40px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: max-content;
}

ul.accountMenu > li {
  padding: 5px;
}

ul.accountMenu > li.inactiveItem {
  background-color: rgb(240, 240, 240);
  color: gray;
}

ul.accountMenu > li.activeItem {
  background-color: white;
  color: black;
}

ul.accountMenu > li.activeItem:hover {
  background-color: var(--secondaryTheme);
  transition: background-color 1s;
}
