div.movieList > h2 {
  margin: 0;
  padding: 10px;
}

div.sliderContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul.movieList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  overflow: hidden;
}

ul.movieList > a {
  text-decoration: none;
}

ul.movieList > a > li {
  transition: transform 1s;
}
