div.topMovies > h2 {
  margin: 0;
  padding: 10px;
}

div.sliderContainer {
  display: flex;
}

ul.topMovies {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  overflow: hidden;
}

ul.topMovies > a {
  text-decoration: none;
}
