li.movie {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 5px gray;
}

div.movie {
  background-color: white;
  box-shadow: 0 0 5px gray;
}
